body {
    background-color: rgb(223, 185, 216);
    text-align: justify;
}

h1 {
    text-align: center;
    color: #a106cc;
    text-decoration: underline wavy royalblue;
}

h2 {
    text-align: center;
    color: #a232c1;
    padding: 40px;
    margin: 30px;
    border: 10px solid red;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: #941ab0
}

p {
    font-size: 25px;
    color: white
}

span {
    color: rgb(133, 11, 11)
}

#imagem-1 {
    width: 10%;
    height: 15%;
    margin-left: 50%;
}

#imagem-2 {
    margin-right: 40%;
    border: dotted red;
    margin-left: 300px;
}

.seletores {
    background-color: papayawhip;
    display: inline-block;
   }

.itens {
    margin-right: 20px;
    padding-right: 20px;
    type: "a";
    start: "f";
}

li::marker {
    content: "❤";
    color: blue;
    font-size: 15px;
}


.imagem-3 {
    height: 50%;
    width: 50%;
    display: inline-block;
}

ol {
    vertical-align: top;
    margin-right: 20px;
    padding-right: 50px;
    display: inline-block;
}

.alunos {
    display: inline-block;
}