body {
    background-color: #dfb9d8;
    text-align: justify;
}

h1 {
    text-align: right;
    color: #bb87ca
}

h2 {
    text-align: center;
    color: red
}

p {
    font-size: 30px;
    color: white
}

